body{
	margin:0;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

nav{
  margin:0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color:rgb(26, 26, 26);
}
nav .bahasa {
	width: 100%;
	height: 40px;
	background-color: black;
}
nav .bahasa img {
	float: left;
	margin-top: 7px;
}
nav .bahasa a {
	/* margin-left: 75%; */
	float: left;
	text-decoration: none;
	color: white;
	font-size: 10px;
	padding: 10px;
}
.navbar{
  float:left;
}
nav ul{
  margin:0;
  padding:0;
  float:right;
}
nav li{
  list-style:none;
  display:inline;
}
nav img {
	margin-top: 10px;
	/* padding-top: 10px; */
}
nav ul li a{
	/* margin-top: -40px; */
	padding:30px;
  color:white;
  text-decoration:none;
  float:left;
  text-transform:uppercase;
}
nav a:hover{
  color:red;
}
header {
	overflow: hidden;
	height: 800px;
	background-color: red;
}
.background {
	margin-top: 100px;
	width: 100%;
	height: 1000px;
	/* height: 80vh; */
	display: inline-block;
	background-size: cover;
	/* background-position: ; */
	background-image: url('img/hp.jpg');
	background-position: center;
	background-repeat: no-repeat;
	animation: slide 20s infinite;
	/* ANIMATE BACKGROUND */
  }
  /* ANIMATE BACKGROUND */
  @keyframes slide {
	20% {
	  background-image: url('img/hp.jpg');
	}
	40% {
	  background-image: url('img/spesifikasi.jpg');
	}
	60% {
	  background-image: url('img/asus.jpg');
	}
	80% {
	  background-image: url('img/gedung.jpg');
	}
	100% {
		background-image: url('img/hp.jpg');
	}
}
 
.container{
	max-width: 1140px;
	height:auto;
	margin:0px auto;
	padding: 5px;
	font-size: 18px;
	font-family: "open_sansregular";
	color: #7f7f7f;
}
.iklan {
	background-color: rgb(255, 255, 255) !important;
	width: 100%;
	height: 60px;
	padding-top: 10px;
}
.iklan ul {
	margin-left: 80px;
	margin-top: -2px;

}
.iklan li{
	list-style:none;
	display:inline;
	padding-left: 10px;
  }

.garis {
	max-width: 900px;
}

.tengah {
	max-width: 1140px;
	height:auto;
	margin:0px auto;
	padding: 5px;
	font-size: 18px;
}
.text {
	color: #666;
	font-size: 26px;
	font-family: 'open_sanslight';
	letter-spacing:1px;
	/* line-height: 1.3; */
	text-align: center;
}

.perusahaan {
	color: #666;
	font-size: 40px;
	font-family: 'open_sansbold';
	letter-spacing: 1px;
	/* line-height: 1.0; */
	text-align: center;
}

.juli {
	color: #666;
	font-size: 26px;
	font-family: 'open_sanslight';
	letter-spacing: 1px;
	line-height: 1.3;
	text-align: center;
}

.middle {
	max-width: 850px;
	height:auto;
	margin:0px auto;
	padding: 5px;
}

.ivo {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.persero {
	color: #666;
	font-size: 26px;
	font-family: 'open_sanslight';
	letter-spacing: 1px;
	line-height: 1.3;
	text-align:center
}
/* 

h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}

header{
 float:left;
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:130px 15px;
 margin-bottom:20px;
}

.section1{
 float:left;
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}

.section1 .content{
	float:left;
	width: 100%;
	margin-top:60px;
}

.section1 .content .card{
width:25%;
float: left;
padding:0px 10px;
}

.section1 .content .card .box{
	background-color:gray;
	font-size:30px;
	color:#fff;
	padding:60px 15px;
}

.section2{
 float:left;
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}

.section2 .content{
float: left;
width: 100%;
margin-top:60px;
}

.section2 .content .left{
	width: 50%;
	float: left;
	padding:0px 10px;

}
.section2 .content .left .card{
	padding:200px 15px;
	font-size:30px;
	color:#fff;
	background-color: gray;
}
.section2 .content .right{
	width: 50%;
	float: left;
	padding: 0px 10px;
}
.section2 .content .right .card{
	padding:48px 15px;
	font-size:30px;
	color:#fff;
	background-color: gray;
	margin-bottom:20px;
}
*/

footer{
 float:left;
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 
}

